section.color_title h1 {
    font-size: 33px;
    color: #fff;
    font-weight: 300;
}
section.color_title {
    background: #e3002b;
    padding: 10px;
    margin: 5px 0;
}
section.cart_banner {
    background: #f6f6f6;
    padding: 40px 0;
}
.banner_grid {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    align-items: center;
    justify-content: space-around;
    grid-gap: 20px;
}
.wel-come h2 {
    font-size: 30px;
    margin: 0;
    font-weight: 300;
    color: #706f6f;
}
.wel-come-p p {
    font-size: 18px;
    color: #9d9d9c;
    font-weight: 300;
}
.stat_box {
    background: #00b7bc;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.stat_box h3 {
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
        margin: 0;
    display: flex;
    align-items: center;
}
.wel-come-p p {
    margin: 0;
}


.stat_box h3>span {
    font-size: 40px;
    display: inline-block;
    margin: 0 10px;
}

.cart_grids>.cart_cols {
    display: grid !important;
    grid-template-columns: minmax(360px,25%) minmax(160px,15%) minmax(100px,15%) minmax(200px,20%) minmax(100px,25%);
    align-items: center;
}
.quant_3 input.quantity {
    border: 2px solid rgb(202 202 202 / 70%) !important;
    background: #fff !important;
}

.get-item p {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.quant_3 button {
    margin: 0 10px;
}
.get-item p input {
    width: auto;
    margin: 0 10px 0 0;
}
.cart_grids {
    color: #706f6f;
}
.it-price h2 {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.it-price h2>span {
    display: block;
    font-size: 16px;
}
.quant_3 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.cr-total>h2 {
    font-size: 25px;
    font-weight: 300;
    text-align:right;
}
.pe-8
{padding-right: 80px;}
.cr-total>h2 a{display: block;
    font-size: 16px;}
    .cr-total>h2 a {
    display: block;
    font-size: 13px;
    color: #706f6f;
    font-style: italic;
    font-weight: 400;
}
.get-item label {
    font-size: 16px;
    margin: 0 0 3px 0;
}
.gd-img {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-gap: 25px;
}
.pr-details {
    max-width: 117px;
    line-height: 1.2;
}
.pr-details span {
    font-size: 13px;
}
.pr-details >label
{
    margin: 0 0 3px 0;
}
h1.cart_title {
    font-size: 33px;
    text-align: center;
    font-weight: 300;
    color: #9d9d9c;
    margin: 40px 0;
}
.cr_title {
    font-size: 20px;
    font-weight: 300;
}
.cart_header {
    padding: 20px 0;
    border-top: 1px solid rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(0,0,0,.3);
}
.cart_body {
    padding: 30px 0;
    border-bottom: 1px solid rgba(0,0,0,.3);
}
.cart_detal
{
    display: grid;
    grid-template-columns:1fr 500px;
    grid-gap: 50px;
    margin: 70px 0px;
}
.cr-banner {
      border: 1px solid rgba(0,0,0,.4);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ct_listing {
    margin: 0 0 10px 0;
    display: flex;
    height: calc(100% - 50px);
    background: #f6f6f6;
    color: #706f6f;
    align-items: center;
    padding: 40px 70px;
}

ul.ct_listing >div {
    width: 100%;
}
ul.ct_listing p {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 0;
    line-height: 1;
    font-weight: 300;
}
ul.ct_listing li:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.4);
}
ul.ct_listing li {
    padding: 10px 0;
}
ul.ct_listing li label {
    font-weight: 700;
}
label.lb_total {
    font-size: 33px;
}
a.btn.btn_grey {
    background: #bbbcbc;
    border-radius: 0;
    color: #fff;
    border: 0;
}
.btn-flex a
{text-align: center; font-size: 20px}
.btn-flex {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 10px;
}
.pr-img img {
    max-width: 140px;
}
.cr-banner img {
    max-width: 100%;
}

@media only screen and (min-width: 769px) and (max-width:1200px)
{
    .gd-img {
    grid-gap: 15px;
}
.quant_3 button
{
    margin: 0;
}
.pe-8{padding: 0;}
.cart_grids>.cart_cols {
    display: grid !important;
    grid-template-columns: minmax(240px,30%) minmax(100px,15%) minmax(100px,15%) minmax(130px,15%) minmax(100px,20%);
    align-items: center;
}
.pr-img img {
    max-width: 100px;
}
.quantity_select.quant_3 .number-input input.quantity {
    width: 40px !important;
    height: 40px;
}
.cr_title {
    font-size: 16px;
    font-weight: 400;
}
}

@media only screen and (max-width:768px)

{
    .banner_grid {
    grid-template-columns: 1fr;
    transform: translatey(50px);
}
section.cart_banner {
    background: #f6f6f6;
    padding: 0;
    margin-bottom: 90px;
}
.gd-img {
    grid-area: c1;
}

.get-item {
    grid-area: c2;
        display: flex;
        gap: 5px;
        padding: 20px 0;
}
.it-price {
    grid-area: c3;
}
.cr-number {
    grid-area: c4;
}
.cart_body {
    border: 0;
    padding: 10px 0;
}
.quant_3 {
    grid-area: c5;
        padding-right: 0;
}
.cart_body {
    grid-template-areas:
        'c1 c1 c1 c1'
        'c2 c2 c2 c4'
        'c3 c5 c5 c5';
    grid-template-columns: unset !important;
}
.cr-total {
    grid-area: c5;
padding: 10px 0;
    position: relative;

}
.quant_3 button {
    margin: 0;
}
.cr-total:after, .cr-total:before {
    content: "";
    height: 1px;
    position: absolute;
    width: calc(100% + 30%);
    background: #979292;
    left: -30%;
}

.quantity_select.quant_3 button {
    width: 20px;
    height: 20px;

}
.quant_3 input.quantity {
    width: 40px;
    height: 40px !important;
    font-size: 20px !important;
}
.cr-total>h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20%;
}
.it-price h2>div {
    display: none;
}
.cart_header>.cr_title:not(:first-child) {
    display: none !important;
}
.cart_header>.cr_title:first-child{
    text-align: center !important;
}
section.color_title h1 {
    text-align: center;
}

.pr-details >label {
    margin: 0 0 3px 0;
    font-size: 20px;
}
.gd-img {
    grid-template-columns: 1fr 1fr;
    max-width: 300px;
    margin: 0 auto;
}
.cart_grids>.cart_cols {
    grid-template-columns: unset;
}

}