.action-buttons {display: flex;	flex-direction: row;	justify-content: start;	align-items: center;
}
#datatable {
    border: none;
       
}
.ml_auto{margin-left: auto;}
#datatable_wrapper td.sorting_1 {
    background: none;
}
#datatable_wrapper thead .sorting_asc, #datatable_wrapper thead .sorting_desc {
    background-color: #fff;
}
#datatable {
    width: auto !important;
}
.dataTables_processing {text-align: center; opacity: 0.8;text-decoration: none;font-size: 20px;padding: 20px;margin: 0 auto;width: 50%;position: relative;bottom: 80%;}
