.errorMsg{
  width: 100%;
  color: red;
  font-size: 14px;
  font-weight: normal;
}
.button{
  color: #fff;
  background: red;
  border-radius: 4px;
  padding: 5px;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
.button:hover{
  color: #fff;
  list-style: none;
  text-decoration: none;
}
.button strong{
  color: #fff;
}
.main_product{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.main_product .width50{
  width: 50%;
}
.productDetails{
  padding-left: 20px;
}
.variationAttributes{
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.variationAttributes li{
  list-style: none;
}
.varientAttribute{
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
}
.varientAttribute li{
  list-style: none;
}
.varientAttribute li a{
  text-decoration: none;
  border: 1px solid #000;
  padding: 5px 10px;
  margin-right: 10px;
  color: #000;
  border-radius: 4px;
}
.varientAttribute li a:hover{
  text-decoration: none;
}
.regularprice{
  text-decoration: line-through;
}
.selectedlabel{
  background: red;
}
.nonSelectedlabel{
  background: #ccc;
}
.outStock{
  color: red;
}
