.free_ship_bar { background: #9d9d9c; padding:15px; text-align: center; margin: 5px 0;}
.free_ship_bar p { margin: 0; color: #fff; font-weight: 300; font-style: italic;font-size: 16px;}
.free_ship_bar img { margin-right: 5px;}
.container_max{max-width: 1170px; padding: 0 15px; margin:0 auto; width: 100%;}
section.banner_sec {  background: #e1efe3; display: flex; justify-content: flex-end; padding-right: 80px;}
.banner_top>span {  font-size: 13px; color: #84b5c7; letter-spacing: 6px;  font-weight: 600;}
.banner_top>h2 {   font-size: 64px;  line-height: .7; letter-spacing: -2px;  font-weight: 700;  color: #fa6734;}
.banner_top>label {  font-size: 22px;    font-weight: 600; color: #78c8cf;}
.banner_top>label span { font-weight: 400;}
.btn_orng { margin-top: 5px;}
 span.blu { color: #78c8cf;}.btn_orng a { display: inline-block; padding: 7px 15px; border-radius: 50px;  color: #fff;
text-decoration: none;  background: #fa6734; font-size: 15px;  line-height: 1.2;}
.btn_orng a:hover {color: #fff;}
.btn_orng a:hover {background: #fff; color: #fa6734; }
.baner_1 { display: flex; align-items: center; justify-content: flex-end;}
.treat_bg {    background: #9bb79e;}
.food_bg { background: #89b3b4;}
.litter_bg { background: #decdc0;}
section.product_slider .slick-slide a {max-width: 300px; display: block !important; margin: 0 auto; }
.cart_flex h3>sup {font-size: 16px; top: -4px; }
.toy_bg { background: #a28ca8;}
section.treat_sec { padding: 60px 0 30px 0;}
.grid_4>div { padding-top: 37%;  position: relative;}
.grid_4>div>a h2 { display: block; width: 100%; text-align: center; color: #fff; margin: 0; line-height: 1; font-size: 100px;
text-transform: uppercase; font-weight: 700;}
.grid_4>div>a{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-decoration: none; text-align: center;}
.grid_4>div>a img { margin-top: 50px;}
section.product_slider .slick-slide a { color: #706f6f; text-decoration: none;}
section.product_slider .slick-slide a h3 { font-size: 26px; font-weight: 300; max-width: 313px;}
.product_slider .col-md-4 img ,section.product_slider .slick-slide img{  height: 300px !important; width: 100% !important; object-fit: contain !important;}
.product_slider .row{margin: 0 -32px;}
.product_slider .col-md-4
{padding: 0 32px;}
.slick-prev { border: 1px solid red; width: 40px; height: 40px; background: url(../../assets/images/arrow_left.png);}
.slick-prev:before {  width: 40px !important;  height: 40px !important; background: url(../../assets/images/arrow_left.png) !important;    color: transparent !important;
background-position: center; background-repeat: no-repeat !important;}
.slick-next:before {    width: 40px !important;  height: 40px !important;  background: url(../../assets/images/arrow_right.png) !important;
color: transparent !important;   background-position: center;  background-repeat: no-repeat !important;}
button.slick-prev.slick-arrow { left: 0;}
.slick-next{ right: 0 !important;}
.slick-arrow { z-index: 9;}


.txt_over a { position: relative; text-decoration: none; color: #fff; display: block;}

.txt_over a h2 {
    position: absolute;
    bottom: 10px;
    font-size: 103px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -4px;
    padding: 0 50px;
    width: 100%;
}
.pad_15{padding: 0 15px;}
section.two_img { padding: 40px 0;}

.gray_panel {text-decoration: none;}
a.img_box1 h3 {
    max-width: 64px;
    color: #00b7bc;
    font-size: 33px;
    font-weight: 700;
    line-height: .8;
}
a.img_box2 h3
{
   max-width: 150px;
    color: #00b7bc;
    font-size: 33px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: .8;
}

section.two_img .col-md-6.txt_over {
    padding: 0;

}
section.two_img .col-md-6.txt_over a img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
section.two_img .col-md-6.txt_over a
{
        padding-top: 80%;
}
section.two_img .col-md-6.txt_over a:hover{color: #fff;}
.gray_panel {
    background: #f6f6f6;
    position: relative;
    padding: 15px 50px;
    min-height: 130px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.gray_panel:hover{text-decoration: none;}
span.re_d {
    color: #e42930;
}
.img_box1 img {
    position: absolute;
    top: -5px;
    right: 50px;
}
.img_box2 img {
    position: absolute;
    right: 40px;
    top: -30px;
}
.img_box3 h3 {
    font-size: 22px;
    color: #00b7bc;
    font-weight: 600;
    margin: 0;
    line-height: .7;
}
.wrp {
    width: 165px;
}
.wrp a {
    font-size: 12px;
    color: #a4b1b1;
    text-transform: uppercase;
}
.img_box3 img {
    position: absolute;
    right: 40px;
}

.red_box {
    position: relative;
    padding-top: 40%;
    background: #e3002b;
}


.blue_box {
    position: relative;
    padding-top: 40%;
    background: #00b7bc;
}
.red_box h2,.blue_box h2 {
    font-size: 103px;
    line-height: .7;
    font-weight: 700;
    letter-spacing: -4px;
    color: #fff;
}
.blue_box h2
{
    text-align: center;
}
.red_box h2 span,.blue_box h2 span {
    font-weight: 300;
}
.red_box a {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    padding: 20px;
}
.red_box a:hover{color: #fff;}
.red_box .rect ,.blue_box .rect {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px;
}
.blue_box .rect
{
 padding:50px 60px;
 align-items: flex-start;
}
.red_box img {
    position: absolute;
    right: 27px;
    margin-top: 15px;
}
.blue_box p {
    font-size: 26px;
    font-weight: 300;
    color: #fff;
    text-align: center;
}
.blue_box p a {
    color: #fff;

}
.blue_box sup {
    font-size: 59px;
}
.blue_box img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
}




.cart_slide li img {
    max-width: 100%;
}
.product_panel {
    position: relative;
    overflow: hidden;
}
.product_panel .sale_tag {
    position: absolute;
    top: 7px;
    background: #00b7bc;
    transform: rotate(
-33deg);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    padding: 0 30px;
    left: -20px;
}
.prod_details h5 {
    font-size: 16px;
    color: #706f6f;
    font-weight: 400;
    margin: 0;
}
.rat_ing i {
    color: #c6b660;
    margin-left: 15px;
}
.rat_ing {
    display: flex;
    justify-content: center;
    padding: 5px;
}
.cart_flex h3 {
    font-size: 25px;
    color: #706f6f;
    margin: 0;
}
.cart_flex a {
    background: #e3002b;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding: 4px 12px;
    border-radius: 50px;
    letter-spacing: .4px;
    line-height: 1.8;
}
.cart_flex a:hover{color: #fff}
.cart_flex {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.cart_slide li {
    padding: 0 15px;
}
.cart_slide {
    padding: 0;
    margin: 0 -15px;
}
.prod_img {
    padding-top: 85%;
    position: relative;
    margin-bottom: 20px;
}
.prod_img img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cart_slide button.slick-prev.slick-arrow {
    left: -20px;
}
.cart_slide button.slick-next.slick-arrow {
    right: -20px !important;
}
h1.line_heading {
    font-size: 25px;
    color: #706f6f;
    font-weight: 400;
    align-items: center;
    position: relative;
    display: flex;
    margin-bottom: 25px;
}
h1.line_heading:after {
    content: "";
    margin-left: 5px;
    flex-grow: 1;
    display: block;
    height: 1px;
    background: #3a3a3a;
}
.rd_blue {
    padding-bottom: 40px !important;
}
.height_mix {
    padding-top: 80%;
    position: relative;
}
.height_mix>img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.sub_2 {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.over_red {
    background: #e3002b;
    padding: 40px;
    max-width: 267px;
}
.over_red h2 {
    font-size: 41px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: .8;
    color: #fff;
}
.over_red>small {
    font-size: 12px;
    color: #fff;
    margin-bottom: 10px;
    display: block;
}
.over_red>a {
    font-size: 12px;
    color: #fff;
    margin-bottom: 10px;
    display: block;
}
.sub_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #76babf;
    padding: 50px 40px;
}
.sub_1>h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: .8;
    letter-spacing: -4px;
    color: #fff;
}
.sub_1>h1>span {
    font-weight: 300;
}
.sub_1 sup {
    font-size: 34px;
    top: -34px;
}
.sub_1 p {
    font-size: 25px;
    color: #fff;
    font-weight: 300;
        margin-bottom: 0;
}
.sub_1 img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.sub_1 a {
    font-size: 19px;
    color: #fff;
    font-weight: 400;
}
section.duo_banner {
    padding: 50px 0 25px 0;
}
section.Keep_touch {
    background: #f6f6f6;
}
.container_min
{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}
.form_text h1 {
    font-size: 67px;
    font-weight: bold;
    line-height: .7;
    letter-spacing: -3px;
    color: #00b7bc;
}
.form_text h1 span:not(.re_d) {
    font-weight: 300;
}
.form_text p {
    font-size: 15px;
    color: #9d9d9c;
}
.Keep_touch .from_grp input[type="text"] ,.Keep_touch .from_grp input[type="email"] {
    height: 26px;
    width: 140px;
    border: 1px solid #aca4a6;
    font-size: 14px;
    font-weight: 300;
    padding: 0 0 0 10px;
}
.Keep_touch .from_grp input[type="text"]::placeholder ,.Keep_touch .from_grp input[type="email"]::placeholder
{
     color: #9d9d9c;
    font-size: 14px;
}
.radio_check {
    color: #9d9d9c;
    font-size: 16px;
}
.radio_check input {
    margin-right: 7px;
}
.radio_check span {
    margin-right: 12px;
}
form.touch_form {
    max-width: 290px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    justify-content: space-between;
}

.Keep_touch .container_min>.row {
    align-items: center;
    justify-content: space-between;
}


form.touch_form input[type="email"] {
    width: 160px !important;
}
.ab_over {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.ab_over {
    position: absolute;
    top: 0;
    height: 100%;
    display: block;
    align-items: center;
    width: 100%;
    right: 0;
    margin: 0 auto;
    left: 0;
    padding-top: 15%;
}
h3.lab_22 {
    color: #fff;
    font-weight: 300;
    margin-bottom: 0;
}
h3.lab_22 label {
    display: inline-block;
    padding: 2px 8px;
    background: #fff;
    color: #e3002b;
    font-weight: bold;
}
h3.lab_22 b {
    font-weight: bold;
}
p.p_16 {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
a.btn_grn {
    font-size: 12px;
    color: #fff;
    background: #00b7bc;
    display: inline-block;
    padding: 6px 20px;
    border-radius: 50px;
    text-decoration: none;
}
.div_center {
    text-align: center;
    max-width: 330px;
}
section.xl_sec {
    position: relative;
    padding: 30px 0;
}
ul.insta_nails {
    list-style: none;
    padding: 0;
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
}
ul.insta_nails>li{
max-width:25%;
width: 100%;
padding: 10px;
}
ul.insta_nails>li>a>span {
    display: block;
    padding-top: 100%;
    position: relative;
}
ul.insta_nails>li>a>span img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
h3.insta_head span {
    font-size: 23px;
    display: inline-block;
    background: #00b7bc;
    color: #fff;
    padding: 5px 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
h3.insta_head {
    text-align: center;
    border-bottom: 2px solid #00b7bc;
}

h3.lab_22 sup {
    font-size: 12px;
    top: -10px;
}
.red_box a:hover,.blue_box p a:hover,.over_red>a:hover {
    opacity: .7;
    color: #fff;
}
.cart_flex a:hover {
    background: #00b7bc;
    color: #fff;
}
a.btn_grn:hover {
    background: #fff;
    color: #00b7bc;
}
footer.main_footer ul li a:hover {
    text-decoration: underline;
}

/* responsive */

@media only screen and (max-width: 768px)
{   
section.xl_sec img { width: 100%;}
section.banner_sec {padding: 10px; }
section.banner_sec {  padding-bottom: 60px;  position: relative;}
.btn_orng { position: absolute; bottom: 20px; text-align: center; width: 100%;  left: 0;}
.col-md-5.baner_1 { position: unset;}
.row.grid_4 {  display: grid; grid-template-columns: 50% 50%;}
.grid_4>div { padding-top: 90%;}
.grid_4>div img {   max-width: 128px; margin-top: 20px !important;}
.grid_4>div>a h2 {font-size: 45px; position: absolute; bottom: 20px; letter-spacing: -2px;}
section.treat_sec { padding: 0;}
.row.grid_4.pad_15 { padding: 3px; margin: 0 -15px;}
.blue_box, .red_box {padding-top: 90%; }
.red_box h2, .blue_box h2 { font-size: 40px; letter-spacing: -2px; }
.red_box .rect, .blue_box .rect { padding: 20px;}
.red_box img {position: absolute; right: 4px; margin-top: 8px; max-width: 109px; }
.red_box a { font-size: 10px; padding: 10px 0;}
.blue_box .rect {padding: 20px; align-items: flex-start; }
.blue_box p {font-size: 10px; text-align: left; }
.blue_box img { max-width: 105px;}
.blue_box sup { font-size: 26px;}
section.two_img.rd_blue .row,section.two_img .row.pad_15,.duo_banner .row {display: grid; grid-template-columns: 50% 50%; padding: 0; }
.row.pad_15 { padding: 0;}
section.two_img .col-md-6.txt_over a { padding-top: 100%;}
.txt_over a h2 {font-size: 40px; padding: 0 10px; text-align: left;}
section.two_img {padding: 0px 0; }
.gray_panel {    margin: 20px -15px;}
.sub_1 {padding: 20px;}
.sub_1>h1 {font-size: 27px; letter-spacing: -1px; color: #fff; margin: 0; }
section.duo_banner, section.duo_banner>div {
    padding: 0;
}
.sub_1 sup {
    font-size: 15px;
    top: -11px;
}
.over_red>small {
    font-size: 10px;
    color: #fff;
    margin-bottom: 5px;
    display: block;
}

.duo_banner .row .col-md-6 {
    padding: 0;
}
.sub_1 a {font-size: 10px; color: #fff; font-weight: 400; z-index: 1; position: relative; display: block; }

.sub_1 img {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 143px;
        z-index: 0;
        bottom: 5px;
}
.sub_1 p {
    font-size: 11px;
}
.over_red>a {
    font-size: 9px;
    color: #fff;
    margin-bottom: 10px;
    display: block;
}
.over_red h2 {
    font-size: 22px;
   margin: 0;
}
.over_red {
    background: #e3002b;
    padding:15px 20px;
    max-width: 136px;
}
section.Keep_touch .col-md-2 {
    max-width: 150px;
    width: 100%;
}
.form_mobile h1 {
    font-size: 42px;
    text-align: left;
}
.form_mobile {
    max-width: calc(100% - 150px) !important    ;
    padding: 0 15px 0 0;
}
.form_mobile p {
    font-size: 14px;
    line-height: .9;
    text-align: left;
    margin: 12px 0 0 0;
}
form.mobil_only input {
    width: 100% !important;
    height: 34px !important;
    margin-top: 10px;
}
section.Keep_touch {
    background: #f6f6f6;
    padding: 15px 0 0 0;
}
ul.insta_nails>li {
    max-width: 50%;
}
.cart_slide li {
    padding: 0 25px;
}
section.cart_slider {
    padding-bottom: 40px;
}
.product_slider .col-md-4 {
    max-width: 200px;
    padding: 0;
}
section.product_slider .slick-slide a h3 {
    font-size: 18px;
    font-weight: 300;
    max-width: 313px;
    line-height: 1.1;
}
.product_slider .col-md-4 img {
    height: 200px;
}
section.two_img.rd_blue {
    padding-bottom: 20px !important;
}
section.product_slider {
    padding: 20px 0;
}

a.btn_grn {
    font-size: 9px;
}
 .div_center p {
    font-size: 14px;
    margin: 0 0 10px 0;
}
.div_center h3 {
    font-size: 15px;
    margin: 0 0 0px 0;
}
.div_center {
    max-width: 200px;
    float: right;
}
section.cart_slider,section.product_slider {
    overflow: hidden;
}
section.duo_banner .row {
    margin: 0;
}
section.xl_sec img {
    max-width: 100%;
}
.product_slider .col-md-4 img, section.product_slider .slick-slide img {
    height: 200px !important;
}
.form_mobile h1 {
    font-size: 36px;
    text-align: left;
    display: block;
    letter-spacing: -2px;
}
.form_mobile p {
    font-size: 12px;
}
.div_center {
    max-width: 170px;
}
.div_center h3 {
    font-size: 13px;
}
.div_center p {
    font-size: 12px;
}
a.btn_grn {
    padding: 4px 16px;
}
.join_btn >a {
    margin: 5px auto;
    font-size: 10px;
    max-width: 160px;
}
ul.foot_mobil li a {
    font-size: 17px;
}
.banner_top>h2 {
    font-size: 56px;
}
.col-md-6.litter_bg img {
    max-width: 200px;
}
.baner_1 {justify-content: center;}
 
}


@media only screen and (max-width: 400px)
{  
    .red_box h2, .blue_box h2 {font-size: 35px; letter-spacing: -2px; }
     .red_box img {margin-top: 11px; max-width: 94px; }
     .sub_1>h1 { font-size: 23px; }
     .sub_1 p { font-size: 10px;}
     .sub_1 {padding: 15px; }
     .sub_1 a {font-size: 8px; }
     .over_red h2 {  font-size: 18px; margin: 0;}
     .over_red>a ,.over_red>small{ font-size: 8px;}
     .grid_4>div>a h2 {font-size: 40px; bottom: 14px; }
     .product_slider .col-md-4 img, section.product_slider .slick-slide img {height: 170px !important; }
     .col-md-6.litter_bg img {max-width: 200px; }
     .sub_1 sup {
    font-size: 12px;
    top: -10px;
}

}


 @media only screen and (min-width: 768px) and (max-width:1024px)
 {
    .grid_4>div ,section.two_img .col-md-6.txt_over,.blue_box, .red_box,.duo_banner .row .col-md-6{
    width: 100% !important;
}
.grid_4>div img {
    max-width: 230px;
    height: 230px;
    object-fit: contain;
}
.grid_4>div:nth-child(3) img {
    max-width: 350px;
}
.grid_4>div>a h2,.col-md-6.txt_over h2 {
    font-size: 68px;
    bottom: 30px;

}
.red_box .rect, .blue_box .rect {
    padding: 50px;
}
.red_box h2, .blue_box h2 {
    font-size: 70px;
    letter-spacing: -2px;
}
.blue_box p {
    font-size: 18px;
    text-align: left;
}
.red_box a {
    font-size: 18px;
    padding: 10px 0;
}
.blue_box img {
    max-width: 200px;
}
.red_box img {
    position: absolute;
    right: 4px;
    margin-top: 8px;
    max-width: 190px;
}
.over_red {
    background: #e3002b;
    padding: 30px;
    max-width: 260px;
}
.over_red>small {
    font-size: 16px;
}
.over_red h2 {
    font-size: 40px;
    margin: 0;
}
.over_red>a {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    display: block;
}
.sub_1 {
    padding: 30px;
}
.sub_1>h1 {
    font-size: 50px;
    letter-spacing: -1px;
    color: #fff;
    margin: 0;
}
.sub_1 p {
    font-size: 18px;
}
.sub_1 a {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    z-index: 1;
    position: relative;
    display: block;
}
.sub_1 img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 260px;
    z-index: 0;
    bottom: 20px;
}
.form_mobile {
    max-width: calc(100% - 150px);
    padding: 0 15px 0 0;
    width: 100%;
}
.container_min {
    max-width: 600px;
}
.two_img + section .container_max .col-md-4 {
    width: 100% !important;
    max-width: 370px;
    margin: 0 auto;
}
section.xl_sec .desk_only {
    display: block;
}
section.xl_sec .mobil_only {
    display: none;
}
 .div_center {
    max-width: 310px;
    float: right;
    width: 100%;
}
.div_center h3 {
    font-size: 24px;
    margin: 0 0 0px 0;
}
.div_center p {
    font-size: 20px;
    margin: 0 0 10px 0;
}
a.btn_grn {
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
}
section.product_slider,section.cart_slider {
    overflow: hidden;
}
.row.grid_4 {
    display: grid;
    grid-template-columns: 50% 50%;
}
section.two_img.rd_blue .row, section.two_img .row.pad_15, .duo_banner .row {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
}
.desk_only {
    display: none;
}
.grid_4>div {
    padding-top: 90%;
}
.blue_box, .red_box {
    padding-top: 90%;
}
.height_mix {
    padding-top: 80%;
    position: relative;
}
.btn_orng {
    position: relative !important;
}
.banner_top>h2 {
    font-size: 52px;
}
section.treat_sec {
    padding: 0;
}
.gray_panel {
    margin: 20px -15px;
}
.img_box3.gray_panel {
    margin-top: 0;
}
.btn_orng {
    position: relative !important;
    text-align: left;
    padding-top: 20px;
}
img{max-width: 100%;}
.sub_1 sup {
    font-size: 15px;
    top: -22px;
}

 }



 @media only screen and (min-width:780px) and (max-width:1024px)
{
    .product_slider .slick-track .slick-slide {
    padding: 0 20px;
}
.sub_1 img {
    max-width: 340px;
}
section.product_slider,section.cart_slider {
    overflow: hidden;
}
.red_box img {
    position: absolute;
    right: 27px;
    margin-top: 37px;
    max-width: 208px;
}

.blue_box img {

    max-width: 232px;
}
.red_box h2, .blue_box h2 {
    font-size: 70px;
}
section.xl_sec img {
    max-width: 100%;
}
section.banner_sec img {
    max-width: 100%;
}
section.treat_sec {
    padding: 0;
}
header .menu_nav .navbar-nav li a {
    padding: 0px 16px !important;

}
.logo_nav {
    padding: 40px !important;
}
.grid_4>div>a h2, .col-md-6.txt_over h2 {
    font-size: 80px;
    margin-top: -20px;
}
.form_mobile form.mobil_only {
    display: block !important;
}
section.Keep_touch .col-md-2 {
    max-width: 150px;
    width: 100%;
}
.form_mobile {
    max-width: calc(100% - 150px) !important;
    padding: 0 15px 0 0;
}
.form_mobile h1 {
    font-size: 36px;
    text-align: left;
    display: block;
    letter-spacing: -2px;
}
.form_mobile p {
    font-size: 12px;
    text-align: left;
    margin: 0;
}
section.Keep_touch {
    padding-top: 20px;
}
section.Keep_touch img.mobil_only {
    display: block;
}
form.mobil_only input {
    width: 100% !important;
    height: 34px !important;
    margin-top: 10px;
    border: 1px solid #aca4a6;
    font-size: 14px;
    font-weight: 300;
    padding: 0 0 0 10px;
}
.sub_1 sup {
    font-size: 22px;
    top: -19px;
}
.div_center {
    max-width: 415px;
}
}

 @media only screen and (min-width:770px) and (max-width:1024px)
{
    section.banner_sec {
    padding: 40px 0 !important;
}
}