.table_style1 {
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
}
.table_style1 td, .table_style1 th {
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
}
.table_style1 td, .table_style1 th {
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    color: #444;
}
.table_style1 tbody>tr:nth-child(even) {
    background: #fafafa;
}
.table_style1 thead {
    background: #e5e3e3;
}
.table_style1 th {
    font-weight: 600;
    font-size: 14px;
}
.table_style1 td {
    font-weight: 300 !important;
    font-size: 14px;
}
.table_style1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1.page_title {
    font-size: 24px;
    margin: 20px 0;
    color: #444;
    display: flex;
    align-items: center;
    justify-content:center;
}
h1.page_title:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background: #444;
    margin:0 10px;
    opacity: .2;
}
h1.page_title:before {
    content: "";
    height: 1px;
    flex-grow: 1;
    background: #444;
    margin:0 10px;
    opacity: .2;
}