footer.main_footer ul { list-style: none; padding: 0; margin: 0;}
footer.main_footer { padding: 30px 60px;}
ul.social_list { display: flex; justify-content: space-between; max-width: 180px; margin: 25px auto !important;}
.foot_menu_1 { background: #b2b2b2;  position: relative;  padding: 40px 50px;}
ul.foot_nav1 { display: flex;  flex-wrap: wrap;}
ul.foot_nav1 li {  max-width: 50%; width: 100%;}
ul.foot_nav1 li a {  font-size: 16px; text-decoration: none; color: #fff; font-weight: 600; line-height: 30px;}
.foot_menu_2 { background: #f6f6f6; padding: 50px 40px; display: flex; flex-wrap: wrap;}
ul.foot_nav2 li a {  font-size: 15px; color: #706f6f; text-decoration: none; font-weight:300; line-height: 20px;}
ul.foot_nav2 {  max-width: 50%;  width: 100%;}
a.btn_bl { font-size: 12px; text-decoration: none; display: block; max-width: 180px; background: #00b1bb;  color: #fff; text-align: center;
font-weight: 600; border-radius: 40px; width: 100%; padding: 2px;}
a.btn_rd {  font-size: 12px; text-decoration: none; display: block;max-width: 180px;background: #e3002b; color: #fff; text-align: center;
font-weight: 600; border-radius: 40px; width: 100%; padding: 2px;}
a.paw_logo {   display: block;  margin: 20px auto; max-width: 60px;}
.join_btn {  display: flex;  flex-wrap: wrap;  justify-content: center;}
.join_btn >a{margin: 5px auto;}
p.copy_p {    font-size: 12px;   color: #303030;   line-height: 1.3;   max-width: 242px;   margin: 0 auto; font-weight: 300;}
label.lab_horiz {  position: absolute; display: block; background: #e3002b;  color: #fff; font-size: 15px; font-weight: 600; text-transform: uppercase;
padding: 2px 20px; letter-spacing: .5px; left: -50px; transform: rotate(-90deg);  margin-top: 3px;}
ul.foot_nav2 li label {  font-weight: 600; color: #706f6f;}
.join_btn a:hover {color: #fff; }
footer.footer-top {
    background: #f6f6f6;
    padding: 30px 0;
    max-width: min(100% - 140px,2048px);
    margin: 50px auto 0 auto;
}
ul.footer_nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}
ul.foot_nav2 {
    max-width: 100%;
}
.footer_nav li {
    font-size: 14px;
    font-weight: 600;
}
.footer_nav li a {
    color: #706f6f;
    text-decoration: none;
    line-height: 21px;
}
.footer_nav01 {
    border-right: 2px solid #d3cfd0;
}
.foot_nav_shop {
    max-width: 50% !important;
    margin-left: auto;
}
ul.social_list.footer_nav {
    margin: 0 !important;
}
footer.footer-bottom {
    padding: 20px 0;
}
.bottom-footer {
    align-items: center;
}
p.copy_p {
    max-width: 100% !important;
}
.gray-strip {
    background: #c6c6c6;
    height: 35px;
}
.Mobile-friendly {
    display: none;
}



@media (max-width: 767px) {

    /* _____ CSS For Footer-2 ______ */
    .footer_nav li {
        text-align: center;
    }
    .footer-top .col {
        flex: 100% 0 0;
    }
    .foot_nav_shop {
        max-width: 100% !important;
    }
    footer.footer-top {
        background: #fff;
    }
    ul.footer_nav {
        margin-bottom: 25px;
    }
    ul.foot_nav2 li a {
        line-height: 26px;
    }
    .order-01 {
        order: 1;
    }
    .order-03 {
        order: 3;
    }
    .order-04 {
        order: 4;
    }
    footer.footer-bottom {
        padding: 0  0 25px;
    }
    ul.social_list.footer_nav {
        margin: 15px auto !important;
    }
    footer.footer-top {
        padding: 30px 0 0;
    }
    .gray-strip {
        display: none;
    }
    .row.bottom-footer{justify-content: center;
    text-align: center;}

}

@media (max-width: 767px) {

    /* _____ CSS For Footer-2 ______ */
    .footer_nav li {
        text-align: center;
    }
    .footer-top .col {
        flex: 100% 0 0;
    }
    .foot_nav_shop {
        max-width: 100% !important;
    }
    footer.footer-top {
        background: #fff;
    }
    ul.footer_nav {
        margin-bottom: 25px;
    }
    ul.foot_nav2 li a {
        line-height: 26px;
    }
    .order-01 {
        order: 1;
    }
    .order-03 {
        order: 3;
    }
    .order-04 {
        order: 4;
    }
    footer.footer-bottom {
        padding: 0  0 25px;
    }
    ul.social_list.footer_nav {
        margin: 15px auto !important;
    }
    footer.footer-top {
        padding: 30px 0 0;
    }
    .gray-strip {
        display: none;
    }


}


@media only screen and (max-width: 1024px)
{
      footer.footer-top {max-width: calc(100% - 20px) !important; }
}