@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open Sans/OpenSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/Open Sans/OpenSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open Sans/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/Open Sans/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open Sans/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/Open Sans/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open Sans/OpenSans-Medium.woff2') format('woff2'),
        url('../fonts/Open Sans/OpenSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open Sans/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/Open Sans/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open Sans/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/Open Sans/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Gentona';
    src: url('../fonts/Gentona/Gentona-ExtraLight.woff2') format('woff2'),
        url('../fonts/Gentona/Gentona-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gentona-Book';
    src: url('../fonts/Gentona/Gentona-Book.woff2') format('woff2'),
        url('../fonts/Gentona/Gentona-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gentona';
    src: url('../fonts/Gentona/Gentona-Heavy.woff2') format('woff2'),
        url('../fonts/Gentona/Gentona-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gentona';
    src: url('../fonts/Gentona/Gentona-Bold.woff2') format('woff2'),
        url('../fonts/Gentona/Gentona-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gentona';
    src: url('../fonts/Gentona/Gentona-ExtraBold.woff2') format('woff2'),
        url('../fonts/Gentona/Gentona-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gentona';
    src: url('../fonts/Gentona/Gentona-Light.woff2') format('woff2'),
        url('../fonts/Gentona/Gentona-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gentona';
    src: url('../fonts/Gentona/Gentona-Thin.woff2') format('woff2'),
        url('../fonts/Gentona/Gentona-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gentona';
    src: url('../fonts/Gentona/Gentona-SemiBold.woff2') format('woff2'),
        url('../fonts/Gentona/Gentona-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gentona';
    src: url('../fonts/Gentona/Gentona-Medium.woff2') format('woff2'),
        url('../fonts/Gentona/Gentona-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html,body
{
        font-family: 'Gentona',Open Sans;
        background: #eeeeee;
}

.container_max{max-width:min(100% - 130px,1600px); padding: 0 15px; margin:0 auto; width: 100%;}
.main_container{    max-width: 100%;  margin:0 auto;  min-height: 100vh; background: #fff;}
.free_ship_bar { background: #9d9d9c; padding:12px; text-align: center; margin: 5px 0;}
.free_ship_bar p { margin: 0; color: #fff; font-weight: 300; font-style: italic;font-size: 16.35px;}
.free_ship_bar img { margin-right: 5px;}
.container_min{max-width:1280px; padding: 0 15px; margin:0 auto; width: 100%;}
input[type="text"]:focus,select:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="submit"]:focus, input[type="range"]:focus, textarea:focus {
    outline: 1px solid #bfbfbf !important;
}
ul {
    list-style: none;
}
input[type="text"],
input[type="number"] ,
input[type="password"] ,
input[type="email"] ,
input[type="submit"] ,
input[type="range"] ,
input[name="text"],
select 
{ 
  color: #706f6f;
  font-weight: 300;
  height: 40px;
  border: 1px solid rgba(0,0,0,.1);
}
.container_1280{    max-width: 1280px !important; padding: 0;}

.btn_blu,.btn_red,.btn,.btn_blu_blank,.btn_red_blank
{height: 40px;  color: #fff; padding: 0 30px; line-height:38px; text-decoration: none; display: inline-block; transition-duration: .20s; }
.btn{color: #706f6f; font-weight: 300; height: 40px; border: 1px solid rgba(0,0,0,.1); }
.btn_blu:hover,.btn_red:hover,.btn:hover,.btn_blu_blank:hover,.btn_red_blank:hover{text-decoration: none;}
.btn_blu ,.btn_blu_blank:hover{background: #11b6bd; border: 1px solid #11b6bd;color:#fff; }
.btn_blu:hover,.btn_blu_blank{background: transparent; color:#11b6bd ; border: 1px solid #11b6bd; }
 .btn_red,.btn_red_blank:hover{background: #ed1b3c; border: 1px solid #ed1b3c; color:#fff; }
.btn_red:hover,.btn_red_blank{background: transparent; color:#ed1b3c ; border: 1px solid #ed1b3c;  }

.btn_blu i,.btn_red i,.btn i,.btn_blu_blank i,.btn_red_blank i{margin: 0 5px;}

.swal2-confirm{
height: 40px !important;  color: #fff !important; padding: 0 30px !important; line-height:38px !important; text-decoration: none; display: inline-block; border-radius: 0 !important; 
    background: #11b6bd !important; border: 1px solid #11b6bd !important ;color:#fff !important; }
.swal2-confirm:hover{background: transparent !important; color:#11b6bd !important; border: 1px solid #11b6bd !important; }

.v_center{align-items: center;}
textarea
{
    color: #706f6f;
  font-weight: 300;
  border: 1px solid rgba(0,0,0,.1);
}
.card-footer {
    background: no-repeat;
    border: 0;
    margin-bottom: 25px;
}
ul.pagination li a {
    font-weight: 300 !important;
    color: #706f6f;
    font-weight: 300;
    height: 40px;
    border: 1px solid rgba(0,0,0,.1);
    line-height: 38px;
    padding: 0 15px !important;
}
ul.pagination li a:hover{
      color: #706f6f;
}
.page-item.active .page-link {
    background: #00b7bc;
    border: 1px solid #00b7bc;
}

@media only screen and (max-width: 768px)
{
  .container_max {max-width: 100% !important; }
}