
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* banner*/
.st_banner {background: #f6f6f6; padding: 60px 0; }
h1.st_h {font-size: 37px; color: #9d9d9c; font-weight: 300; }
h1.st_h + p {font-size: 18px; color: #9d9d9c; font-weight: 300; }
.points {background: #00b7bc; color: #fff; padding: 10px 30px; position: relative; display: inline-block; }
.points:before {content: ""; border-top: 25px transparent; border-bottom: 25px solid transparent; border-right: 25px solid #00b7bc; position: absolute; left: -25px; top: 0; }
.points>span {font-size: 18px; font-weight: 300; display: block; line-height: 1; text-align: center; }
.points>h1 {font-size: 62px; font-weight: 700; display: flex; align-items: center; margin: 0; justify-content: center; line-height: 1; letter-spacing: -2px; }
p.tm_p {font-size: 12px; font-weight: 300; text-align: center; margin: 5px 0 0 0; }
.points>h1>label {font-size: 26px; text-transform: uppercase; margin: 0 0 0 10px; letter-spacing:0px; }
ul.pet_pro_list img {max-width: 100%; border: 1px solid rgba(0,0,0,.1); border-radius: 50%; }

/*pet form*/
.petForm>label {position: relative; padding-top: 30px;  flex-grow: 1;}
.petForm>label>span {position: absolute; top: 0; font-size: 16px; color: #5d5d5d; font-weight: 300; }
.petForm input, .petForm select {height: 40px; border: 1px solid rgba(0,0,0,.1); }
.petForm {margin-top: 35px; background: #f6f6f6; padding:10px 20px; }
label.uplod_btn.upld_small {width: 40px; height: 40px !important; }
div#profil_detail input {height: 40px; border: 1px solid rgba(0,0,0,.1); font-size: 15px; padding: 0 0 0 15px; }
p.heading {font-size: 22px; color: #9d9d9c; font-weight: 300; margin: 0px 0 15px 0; display: block; }
 .petForm label.uplod_btn.upld_small:after {content: ""; width: 40px; height: 40px; font-size: 43px;}
.petForm button {background: #00b7bc !important;margin: 0 !important; border: 1px solid #00b7bc; font-size: 15px; height: 40px; padding: 0 40px !important; }
.inp_edt .fa-check {width: 40px; height: 40px; line-height: 37px; border: 2px solid #00b7bc; text-align: center; justify-content: center; color: #00b7bc; font-size: 18px; }
.inp_edt .fa-check:hover{background: #00b7bc; color: #fff; }
/* forms tabs*/

.st_tab_list {display: block !important; list-style: none; margin: 0; padding: 0; }
 .st_title { font-size: 33px; color: #9d9d9c; font-weight: 300; margin: 10px 0 15px 0; display: block; }
.st_tab_list li button {font-size: 20px; color: #9d9d9c; font-weight: 300; background: no-repeat; padding: 3px 10px; border: 0; margin: 0 0 5px 0; }
.st_tab_list li button:hover,.st_tab_list li button:focus {color: #666;}
.st_tab_list li button.active{background: #f6f6f6; }
 div#profil_detail .lb_small {font-size: 12px; color: #9d9d9c; font-weight: 300; display: block;margin:0; }
.inp_edt {font-size: 20px; color: #9d9d9c; font-weight: 300; line-height: 1.4; margin: 0 0 15px 0;align-items: center; }
.inp_edt i {margin-left: 10px; display: inline-flex; cursor: pointer; }

.br_1:before {position: absolute; left: 0; top: 4px; height: calc(100% - 25px); width: 1px; content: ""; background: #c7c7c7; }
.st_info >.container_max{padding: 50px 15px; }
section.st_info.sf_1>.container_max {padding-bottom: 30px; }
section.st_info.sf_2 .container_max {padding-top: 30px; }
section.st_info.mb-5>.container_max {padding-top: 30px; }
 table.produc_table th {vertical-align: top; }
.ord_num span {display: block; font-weight: 400; }
section.st_info.mb-5 .br_1:before {position: absolute; left: 0; top: 30px; height: calc(100% - 50px); width: 1px; content: ""; background: #c7c7c7; }
span.tans_id {    display: block; word-break: break-word; font-size: 12px; font-weight: 400; padding-top: 5px; font-style: italic; color: #706f6f;} .bb-1 {border-bottom: 1px solid #c7c7c7; }
ul.pet_pro_list {list-style: none; padding: 0; margin: 0; display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; }
ul.pet_pro_list li a {display: block; background: #fff; border-radius: 50%; overflow: hidden; }
label.uplod_btn { width: 118px; height: 118px; border-radius: 50%; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; position: relative; }
label.uplod_btn input{position: absolute; top: 0; cursor: pointer; left: 0; width: 100%; height: 100%; z-index: 2; opacity: 0; }
label.uplod_btn:after {content: "";  background:url(../../assets/images/add.png) ;width: 33px; height: 33px;  background-repeat: no-repeat;border-radius: 50%; display: flex; align-items: center; justify-content: center; font-size: 55px; color: #5d5d5d; transition-duration: .20s; background-size: 100%; font-weight: 300; }
.uplod_btn:hover:after{transform: scale(1.1);} 
ul.pet_pro_list li a + span {color: #9d9d9c; display: block; text-align: center; font-weight: 300; font-size: 16px; }
.srch_order {display: flex; justify-content: flex-end; position: absolute; top: -30px; width: 100%; right: 15px; }
table.produc_table th, table.produc_table td {padding: 20px; }
th.data_head {font-size: 16px; font-weight: 300; color: #706f6f; line-height: 1.4; }
th.data_head > span b {display: block; width: 100%; }
td.t_size span {font-size: 12px; display: block; color: #706f6f; font-weight: 300; padding-top: 5px; }
td.t_size {font-size: 16px; color: #706f6f; line-height: 1.1; font-weight: 400; }
td.t_price  span {font-size: 16px; color: #706f6f; display: block; line-height: 1.1; }
td.t_price {font-size: 25px; font-weight: 300; color: #706f6f; line-height: 1.1; }
td.pt_img a {display: flex; align-items: center; justify-content: center; }
td.t_btn {padding: 0 !important; }
.src_wrap {position: relative; }
.src_wrap i {position: absolute; right: 10px; top: 7px; opacity: .4; }
.ps_rel {position: relative; }
.src_wrap input {font-size: 14px; font-weight: 300 !important; text-align: left; padding: 0 30px 0 15px; max-width: 176px; height: 30px !important; border: 2px solid #aca4a6 !important; }
td.t_btn button {color: #706f6f; background: #fff; border: 1px solid #706f6f; padding: 6px; display: block; width: 100%; }
td.t_btn button:hover {background: #ee343f; color: #fff; border: 1px solid; }
div#or_latest> .tb_responsive:not(:last-child) {margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid rgba(0,0,0,.1); }
.profile_banner img {width: 130px; height: 130px; object-fit: cover; border-radius: 50%; overflow: hidden; }
.profile_banner {position: relative;width: 130px; height: 130px; margin:0 auto; position: relative; }
.profile_banner .uplod_btn:after { background:url(../../assets/images/plus_m.png) !important ; height: 25px; width: 25px !important; font-size: 34px;color: #fff; border-color: #00b7bc; background: #00b7bc; }
.profile_banner label.uplod_btn {    height: 26px; width: 26px; display: block; top: 15px; right: 0px; position: absolute; } .profile_banner input {height: 40px; width: 40px; cursor: pointer; top: 0; left: 0; padding: 0; z-index: 999; }
ul.pet_pro_list li a img{width:100px; height:100px; object-fit: cover; display: block; margin: 0 auto; border-radius: 50%; background: #f6f6f6; }
section.st_banner .col-9 {padding-right: 50px; }
ul.pet_pro_list>li:not(:hover,:last-child) {  filter: grayscale(1); opacity: .3;}
ul.pet_pro_list>li{ max-width: 33.33%; width: 100%; margin-bottom: 15px; transition-duration: .35s;}
 b.datefor {max-width: 100px; display: block; }

a.banner_in {
    display: block;
    padding-top: 82%;
    background: #f6f6f6;
    position: relative;
}
.bn_ov {
 position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.bn_ov p {
    font-size: 29px;
    text-align: center;
    color: #706f6f;
    font-weight: 300;
    line-height: 1;
}
.bn_ov h1 {
    font-size: 72px;
    line-height: .9;
    font-weight: 700;
    color: #00b7bc;
    letter-spacing: -3px;
    max-width: 460px;
    margin: 0 auto 10px auto;
}
.bn_ov img {
    margin: 0 auto;
    max-width: 100%;
    display: block;
}
.btn_ov a {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 2px 10px;
    background: #00b7bc;
    border-radius: 50px;
    font-size: 15px;
}
.btn_ov {
    text-align: center;
    margin: 30px 0 0 0;
}
.bn_ov h1>span {
    font-weight: 300;
}
.bn_ov h1>span >sup {
    font-size: 28px;
    font-weight: 400;
    top: -30px;
}

/* _______ Add form css _______ */
.add-form {
	width: 85%;
  position: relative;
}
.add-form-field {
	margin-bottom: 15px;
  font-weight: 300;
  border: 1px solid gainsboro;
}
.add-form-field:focus {
	outline: none;
  box-shadow: none;
}
.update-btn {
	background: #00b7bc;
	border: 0px;
	height: 42px;
	padding: 0 30px;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	border-radius: 3px;
}
.add-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 24px;
  text-decoration: none;
  background: #f6f6f6;
  font-weight: 500;
  color: #666;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-icon:hover {
  text-decoration: none;
}
.mrm-15 {
    margin: 0 -30px;
}

@media only screen and (min-width: 1024px) and (max-width:1300px)
{
  ul.pet_pro_list li a img {
    width: 70px;
    height: 70px;
  
}
label.uplod_btn {
    width:70px;
    height: 70px;

}
.st_info  .col-9.br_1.ps-5
{
  padding-left: 3rem !important;
}
.bn_ov p {
    font-size: 22px;
}
.bn_ov h1 {
    font-size: 56px;
    max-width: 350px;
    }
    a.banner_in {
    padding-top: 100%;
}
.row.mrm-15>.col-md-9 {
    max-width: 70%;
}.row.mrm-15>.col-md-3 {
    max-width: 30%;
}

.points>h1
{font-size: 50px;}

.mrm-15
{
  margin: 0;
}
body{
  overflow-x: hidden;
}
}
@media only screen and (min-width: 1366px) and (max-width:1480px)
{
  .bn_ov h1 {
    font-size: 63px;
    max-width: 400px;
   }

   .bn_ov p {
    font-size: 26px;
    margin-bottom: 10px;
}
a.banner_in
{
  padding-top: 500px;
}
ul.pet_pro_list li a img ,label.uplod_btn{
    width: 80px;
    height: 80px;
}
.st_info  .col-9.br_1.ps-5
{
  padding-left: 3rem !important;
}
}

@media only screen and (min-width: 769px)
{
    .btn_or_mb{display: none;}
}
.successMsg{
  width: 100%;
  color: #00FF00;
  font-size: 14px;
}
.errorMsg{
  width: 100%;
  color: #DC143C;
  font-size: 14px;
}
.updatelive{
  display: flex;
  flex-direction: row;
}
.updatelive input{
  width: auto;
  padding: 2px;
}
.readonly{
  pointer-events: none;
}
.heading{
  font-size: 15px;
  color: #000;
  font-weight: bold;
}
.petForm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.petForm label.uplod_btn{
  height: auto !important;
}
.petForm label{
  margin-right: 40px;
}
.petForm label{
  margin-right: 40px;
}
.petForm label button{
  padding: 10px;
  background: #ccc;
  color: #fff;
  margin-top: 10px;

}
.petForm {
    background: #fff;
    width: 100%;
}
.petForm>label:nth-child(-n + 2) {
    width: 100%;
    margin: 0;
}
.addpetMsg{width: 100%; padding: 10px; color: #00FF00; font-size: 20px;}

.col-9.br_1.ps-5 {
    padding-left: 5rem !important;
}

@media only screen and (max-width: 768px)
{
section.st_banner .row>div {max-width: 100%; width: 100%; text-align: center; position: unset;}
h1.st_h {font-size: 30px; margin-top: 20px; }
h1.st_h + p br {display: none; }
h1.st_h + p {font-size: 16px; }
.btn_or_mb button {color: #706f6f; background: #fff; border: 1px solid #706f6f; padding: 6px; display: block; width: 220px; margin: 0 auto; }
section.st_banner {position: relative; padding: 40px 0 40px 0; }
.points {position: absolute; bottom: -18px; margin: 0 auto; left: 0; right: 0; max-width: 290px; }
section.st_info .row> .col-3, section.st_info .row> .col-9 {width: 100%; padding:0 20px !important; }
h1.st_title { text-align: center;}
.st_tab_content {display: flex; justify-content: center; }
.st_tab_content .form-group {display: flex; align-items: center; margin-bottom: 10px;}
.inp_edt {margin: 0 10px; } label.lb_small {min-width: 60px; }
.st_tab_list {display: flex !important; flex-direction: column; justify-content: center; margin-bottom: 20px !important; }
.st_info >.container_max{padding: 40px 0;}
.srch_order {position: relative; margin: 0 auto; display: flex; justify-content: center; margin: 30px 0 0 0; }
ul.pet_pro_list {flex-wrap: wrap; justify-content: center; }
table.produc_table th, table.produc_table td {padding:10px 15px; }
table.produc_table tr th:first-child {width: 36%; }
td.t_price {padding: 0 !important; }
td.t_price {font-size: 20px; }
td.t_price span {font-size: 14px; }
.btn_or_mb {margin-top: 20px; } table.produc_table tr>td:last-child ,table.produc_table tr>th:last-child {display: none; }
 .points:before {content: ""; border-bottom: 15px solid #ee343f; border-left: 15px solid transparent; border-right: 15px solid transparent; position: absolute; top: -15px; left: calc(50% - 13px); }
section.st_banner .col-9
{
  padding: 0;
}
.desk_only
{
  display: none !important;
}
.points.mobile_only h1 {
    font-size: 34px;
}
.points.mobile_only h1 span {
    font-size: 15px;
    display: inline-block;
    margin: 0 5px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0px;
}
.points {
    max-width: 232px;
    padding: 5px;
}
.points.mobile_only:before {
    display: none;
}
.row.mrm-15 {
    margin: 0;
}
.bn_ov p
{
  font-size: 18px;
  margin: 0 0 5px 0;
}
.bn_ov h1
{
  font-size: 45px;
  max-width: 280px;
}
a.banner_in
{
  padding-top: 100%;
}
.bn_ov h1>span >sup {
    font-size: 23px;
    top: -18px;
}
.mb_tbs ul#profil_info {
    flex-direction: row;
    padding-right: 170px;
}
.srch_order {
    position: absolute;
    right: 30px;
    top: -87px;
    max-width: 178px;
}
section.st_info.sf_1 .bb-1 {
    border: 0;
    padding-bottom: 0;
}
.accordion-profile button.accordion-button {
    background: transparent;
    box-shadow: none !important;
    color: #9d9d9c;
    font-size: 20px;
    font-weight: 300;
    border: 0px !important;
    padding-left: 40px !important;
    position: relative;
}
.accordion-profile button.accordion-button:after {
    position: absolute;
    left: 13px;
    content: "" !important;
    background: transparent;
    border-top:9px solid transparent ;
    border-left: 10px solid #b7b6b6;
    border-bottom: 9px solid transparent;
    top: 36%;
    transform: scale(.7);
}.accordion-profile button.accordion-button[aria-expanded="true"]:after
{
  transform: scale(.7) rotate(90deg);
}
.accordion-profile .accordion-item {
    border: 0;
}
label.lb_small {
    font-size: 12px;
    margin: 0;
    color: #9d9d9c;
    font-weight: 300;
}
.inp_edt {
    margin: 0;
}
.accordion-profile .accordion-body {
    padding-left: 40px;
}
}
@media only screen and (min-width:769px)
{
  .mobil_only,.mobile_only{
    display: none !important;
  }
}