
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* banner*/
.container_990 {max-width: 1050px; margin: 0 auto; padding: 0 15px; }
.st_banner {background: #f6f6f6; padding: 60px 0; }
h1.st_h {font-size: 37px; color: #9d9d9c; font-weight: 300; }
h1.st_h + p {font-size: 18px; color: #9d9d9c; font-weight: 300; max-width: 500px; }
.points {background: #ee343f; color: #fff; padding: 10px 30px; position: relative; display: inline-block; }
.points:before {content: ""; border-top: 25px transparent; border-bottom: 25px solid transparent; border-right: 25px solid #ee343f; position: absolute; left: -25px; top: 0; }
.points>span {font-size: 18px; font-weight: 300; display: block; line-height: 1; text-align: center; }
.points>h1 {font-size: 62px; font-weight: 700; display: flex; align-items: center; margin: 0; justify-content: center; line-height: 1; letter-spacing: -2px; }
p.tm_p {font-size: 12px; font-weight: 300; text-align: center; margin: 5px 0 0 0; }
.points>h1>label {font-size: 26px; text-transform: uppercase; margin: 0 0 0 10px; letter-spacing:0px; }
ul.pet_pro_list img {max-width: 100%; border: 1px solid rgba(0,0,0,.1); border-radius: 50%; }

/*pet form*/
.petForm>label {position: relative; padding-top: 30px;  flex-grow: 1;}
.petForm>label>span {position: absolute; top: 0; font-size: 16px; color: #5d5d5d; font-weight: 300; }
.petForm input, .petForm select {height: 40px; border: 1px solid rgba(0,0,0,.1); }
.petForm {margin-top: 35px; background: #f6f6f6; padding:10px 20px; }
label.uplod_btn.upld_small {width: 40px; height: 40px !important; }
.petForm select {width: 120px; }
div#profil_detail input {height: 40px; border: 1px solid rgba(0,0,0,.1); font-size: 15px; padding: 0 0 0 15px; }
p.heading {font-size: 22px; color: #9d9d9c; font-weight: 300; margin: 0px 0 15px 0; display: block; }
 .petForm label.uplod_btn.upld_small:after {content: "+"; width: 40px; height: 40px; font-size: 43px;}
.petForm button {background: #00b7bc !important;margin: 0 !important; border: 1px solid #00b7bc; font-size: 15px; height: 40px; padding: 0 40px !important; }
.inp_edt .fa-check {width: 40px; height: 40px; line-height: 37px; border: 2px solid #00b7bc; text-align: center; justify-content: center; color: #00b7bc; font-size: 18px; }
.inp_edt .fa-check:hover{background: #00b7bc; color: #fff; }
/* forms tabs*/

.st_tab_list {display: block !important; list-style: none; margin: 0; padding: 0; }
 .st_title { font-size: 27px; color: #9d9d9c; font-weight: 300; margin: 10px 0 15px 0; display: block; }
.st_tab_list li button {font-size: 16px; color: #9d9d9c; font-weight: 300; background: no-repeat; padding: 3px 10px; border: 0; margin: 0 0 5px 0; }
.st_tab_list li button:hover,.st_tab_list li button:focus {color: #666;}
.st_tab_list li button.active{background: #f6f6f6; }
 div#profil_detail .lb_small {font-size: 12px; color: #9d9d9c; font-weight: 300; display: block;margin:0; }
.inp_edt {font-size: 20px; color: #9d9d9c; font-weight: 300; line-height: 1.4; margin: 0 0 15px 0;align-items: center; }
.inp_edt i {margin-left: 10px; display: inline-flex; cursor: pointer; }
.br_1 {border-left: 1px solid #c7c7c7; }
.st_info >.container_990{padding: 50px 15px; }
 .bb-1 {border-bottom: 1px solid #c7c7c7; }
ul.pet_pro_list {list-style: none; padding: 0; margin: 0; display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; grid-gap: 40px; }
ul.pet_pro_list li a {display: block; width: 118px; height: 118px; background: #fff; border-radius: 50%; overflow: hidden; }
label.uplod_btn {width: 118px; height: 118px; border-radius: 50%; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; position: relative; }
label.uplod_btn input{position: absolute; top: 0; cursor: pointer; left: 0; width: 100%; height: 100%; z-index: 2; opacity: 0; }
label.uplod_btn:after {content: "+"; width: 60px; height: 60px; border: 2px solid #5d5d5d; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-size: 55px; color: #5d5d5d; transition-duration: .20s; font-weight: 300; padding-bottom: 13px; }
.uplod_btn:hover:after{transform: scale(1.1); }
ul.pet_pro_list li a + span {color: #9d9d9c; display: block; text-align: center; font-weight: 300; font-size: 20px; }
.srch_order {display: flex; justify-content: flex-end; position: absolute; top: -30px; width: 100%; right: 15px; }
table.produc_table th, table.produc_table td {padding: 20px; }
th.data_head {font-size: 16px; font-weight: 300; color: #706f6f; line-height: 1.4; }
th.data_head > span b {display: block; width: 100%; }
td.t_size span {font-size: 12px; display: block; color: #706f6f; font-weight: 300; padding-top: 5px; }
td.t_size {font-size: 16px; color: #706f6f; line-height: 1.1; font-weight: 400; }
td.t_price  span {font-size: 16px; color: #706f6f; display: block; line-height: 1.1; }
td.t_price {font-size: 25px; font-weight: 300; color: #706f6f; line-height: 1.1; }
td.pt_img a {display: flex; align-items: center; justify-content: center; }
td.t_btn {padding: 0 !important; }
.src_wrap {position: relative; }
.src_wrap i {position: absolute; right: 10px; top: 7px; opacity: .4; }
.ps_rel {position: relative; }
.src_wrap input {font-size: 14px; font-weight: 300; text-align: right; padding: 0 30px 0 0; height: 30px; border: 2px solid #aca4a6; }
td.t_btn button {color: #706f6f; background: #fff; border: 1px solid #706f6f; padding: 6px; display: block; width: 100%; }
td.t_btn button:hover {background: #ee343f; color: #fff; border: 1px solid; }

.profile_banner img {width: 130px; height: 130px; object-fit: cover; border-radius: 50%; overflow: hidden; }
.profile_banner {position: relative; }
.profile_banner .uplod_btn:after {height: 25px; width: 25px !important; font-size: 34px; padding-bottom: 10px; color: #fff; border-color: #00b7bc; background: #00b7bc; }
.profile_banner label.uplod_btn {height: 25px; width: 25px; display: block; top: 0; right: 0; position: absolute; top: 20px; right: 20px; }
 .profile_banner input {height: 40px; width: 40px; cursor: pointer; top: 0; left: 0; padding: 0; z-index: 999; }
ul.pet_pro_list li a img{width: 118px; height: 118px; object-fit: contain; border-radius: 50%; background: #f6f6f6; }


@media only screen and (max-width: 768px)
{
    section.st_banner .row>div {max-width: 100%; width: 100%; text-align: center; }
h1.st_h {font-size: 30px; margin-top: 20px; }
h1.st_h + p br {display: none; }
h1.st_h + p {font-size: 16px; }
.btn_or_mb button {color: #706f6f; background: #fff; border: 1px solid #706f6f; padding: 6px; display: block; width: 220px; margin: 0 auto; }
section.st_banner {position: relative; margin-bottom: 60px; padding: 40px 0 80px 0; }
.points {position: absolute; bottom: -70px; margin: 0 auto; left: 0; right: 0; max-width: 290px; }
section.st_info .row> .col-3, section.st_info .row> .col-9 {width: 100%; padding:0 20px !important; }
h1.st_title { text-align: center;}
.st_tab_list {display: flex; justify-content: center; }
.st_tab_content {display: flex; justify-content: center; }
.st_tab_content .form-group {display: flex; align-items: center; margin-bottom: 10px;}
.inp_edt {margin: 0 10px; } label.lb_small {min-width: 60px; }
.st_tab_list {display: flex; justify-content: center; margin-bottom: 20px; }
.st_info >.container_990{padding: 40px 0;}
.srch_order {position: relative; margin: 0 auto; display: flex; justify-content: center; margin: 30px 0 0 0; }
ul.pet_pro_list {flex-wrap: wrap; justify-content: center; grid-gap: 10px 40px; }
table.produc_table th, table.produc_table td {padding:10px 15px; }
table.produc_table tr th:first-child {width: 36%; }
td.t_price {padding: 0 !important; }
td.t_price {font-size: 20px; }
td.t_price span {font-size: 14px; }
.btn_or_mb {margin-top: 20px; } table.produc_table tr>td:last-child ,table.produc_table tr>th:last-child {display: none; }
 .points:before {content: ""; border-bottom: 15px solid #ee343f; border-left: 15px solid transparent; border-right: 15px solid transparent; position: absolute; top: -15px; left: calc(50% - 13px); }
}


/* _______ Add form css _______ */
.add-form {
	width: 85%;
  position: relative;
}
.add-form-field {
	margin-bottom: 15px;
  font-weight: 300;
  border: 1px solid gainsboro;
}
.add-form-field:focus {
	outline: none;
  box-shadow: none;
}
.update-btn {
	background: #00b7bc;
	border: 0px;
	height: 42px;
	padding: 0 30px;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	border-radius: 3px;
}
.add-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 24px;
  text-decoration: none;
  background: #f6f6f6;
  font-weight: 500;
  color: #666;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-icon:hover {
  text-decoration: none;
}

@media only screen and (min-width: 769px)
{
    .btn_or_mb{display: none;}
}
.successMsg{
  width: 100%;
  color: #00FF00;
  font-size: 14px;
}
.errorMsg{
  width: 100%;
  color: #DC143C;
  font-size: 14px;
}
.updatelive{
  display: flex;
  flex-direction: row;
}
.updatelive input{
  width: auto;
  padding: 2px;
}
.readonly{
  pointer-events: none;
}
.heading{
  font-size: 15px;
  color: #000;
  font-weight: bold;
}
.petForm {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.petForm label.uplod_btn{
  height: auto !important;
}
.petForm label{
  margin-right: 40px;
}
.petForm label{
  margin-right: 40px;
}
.petForm label button{
  padding: 10px;
  background: #ccc;
  color: #fff;
  margin-top: 10px;

}
.addpetMsg{width: 100%; padding: 10px; color: #00FF00; font-size: 20px;}
